# Example environment variables for local development
# Copy this file to .env.local and fill values (DO NOT commit .env.local)

NEXT_PUBLIC_SANITY_PROJECT_ID=4jrpajc8
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-01-01
# Server-side token for reading private/draft data (keep secret, do NOT expose to client)
SANITY_API_READ_TOKEN=sk9wo4eS32tcKuVDQcPFAf5KrCHWi3o6Na8h8p4U5UbRSNQdQW84cpkBAAUAfU9woc68v6NHmWr25QXa5iPicNrUE2bKADAFxFxiz6jbxzubnC2iL0Led6O1xuF2CPCGv7X9S4NW4yr8MCQLmRzKDDhdG753hAjTrLBfu8cklfaxYRvA9t8y
